<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blueish_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blueish_red</string>
				</array>
			</dict>
			<key>Blueish_white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blueish_white</string>
				</array>
			</dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black</string>
				</array>
			</dict>
			<key>whiteOnly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>whiteOnly</string>
				</array>
			</dict>
			<key>whitegradient_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>whitegradient_red</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Blueish_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blueish_red</string>
				</array>
			</dict>
			<key>Blueish_white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blueish_white</string>
				</array>
			</dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black</string>
				</array>
			</dict>
			<key>whiteOnly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>whiteOnly</string>
				</array>
			</dict>
			<key>whitegradient_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>whitegradient_red</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>App-Prefs</string>
			</array>
		</dict>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_bonjour._tcp</string>
		<string>_lnp._tcp.</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
